<!DOCTYPE html>
<html>
<head>
    <title>Period Tracker</title>
</head>
<body>
    <h1>Period Tracker</h1>

    <table border="1">
        <tr>
            <th>User</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Cycle Length</th>
            <th>Mood Swings</th>
            <th>Cramps</th>
            <th>Breast Tenderness</th>
            <th>Next Period</th>
            <th>Next Ovulation</th>
        </tr>

        {% for period_tracker in period_trackers %}
        <tr>
            <td>{{ period_tracker.user }}</td>
            <td>{{ period_tracker.start_date }}</td>
            <td>{{ period_tracker.end_date }}</td>
            <td>{{ period_tracker.cycle_length }}</td>
            <td>{{ period_tracker.mood_swings }}</td>
            <td>{{ period_tracker.cramps }}</td>
            <td>{{ period_tracker.breast_tenderness }}</td>
            <td>{{ period_tracker.next_period }}</td>
            <td>{{ period_tracker.next_ovulation }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>